footer {
  width: 100%;
  height: auto;
  background-color: #222;
  text-align: center;
  padding: 40px;
}
.flogo {
  margin-top: 10px;
}
.flogo h3 {
  font-size: 40px;
}
.flogo p {
  font-size: 13px;
}
.social {
  padding-bottom: 10px;
  padding-top: 10px;
}
.social i {
  margin: 10px;
  font-size: 30px;
  color: #fff;
}
.social p {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}
.social i:hover {
  color: #8c52ff;
}
.list a {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}
.list a:hover {
  color: #8c52ff;
}
.footh {
  color: #c700ff;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  padding-top: 10px;
  font-weight: bolder;
}
.foot {
  flex-direction: column-reverse;
}
.footone {
  margin: 10px;
}
button {
  background: none;
  border: none;
}
.copytoast {
  position: fixed;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%, 0);
  color: #c700ff;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  display: none;
}
.displaytoast {
  display: block;
}
li .selected {
  color: #8c52ff;
}
.dmca {
  margin-top: 15px;
}
@media all and (min-width: 700px) {
  .foot {
    flex-direction: row;
    justify-content: space-around;
    padding: 60px 0px;
  }
  .list {
    flex-direction: row;
    justify-content: space-around;
    text-align: start;
  }
  .copytoast {
    bottom: 15%;
    left: 30%;
  }
  .social i {
    font-size: 20px;
    margin: 5px;
  }
  .social p {
    font-size: 14px;
  }
  .list a {
    font-size: 16px;
  }
}
@media all and (min-width: 1200px) {
  .flogo h3 {
    font-size: 60px;
  }
  .flogo p {
    font-size: 18px;
  }
  .social i {
    font-size: 35px;
    margin: 10px;
  }
  .social p {
    font-size: 22px;
  }
  .footh {
    font-size: 30px;
  }
  .footone {
    margin: 30px;
  }
  .list {
    margin-right: 50px;
  }
  .list a {
    font-size: 20px;
  }
  .foot {
    padding-left: 40px;
  }
}
