.pblbanner {
  align-items: center;
  background: rgb(218, 15, 255);
  background: radial-gradient(
    circle,
    rgba(218, 15, 255, 1) 16%,
    rgba(179, 44, 255, 1) 72%,
    rgba(127, 82, 255, 1) 100%
  );
  background-size: 400%;
  animation-name: steam;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  width: 100%;
  height: 250px;
}
@keyframes steam {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 400%;
  }
}
.pblbanner h1 {
  font-family: "Lato", sans-serif;
  font-size: 50px;
  color: #fff;
  margin: 60px 20px 20px 20px;
}
.pblcont h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
  color: #c700ff;
  margin: 20px 20px 60px 20px;
}
@media all and (min-width: 700px) {
  .pblbanner {
    height: 350px;
  }
  .pblbanner h1 {
    font-size: 100px;
    margin: 40px;
  }
  .pblcont h2 {
    font-size: 70px;
    margin: 40px;
  }
}
@media all and (min-width: 1200px) {
  .pblbanner {
    height: 500px;
  }
  .pblbanner h1 {
    font-size: 160px;
    margin: 40px;
  }
  .pblcont h2 {
    font-size: 100px;
    margin: 60px;
  }
}
