.aboutbanner {
  align-items: center;
  background: rgb(199, 0, 255);
  background: linear-gradient(
    180deg,
    rgba(199, 0, 255, 1) 0%,
    rgba(94, 23, 235, 1) 100%
  );
  width: 100%;
  height: 200px;
}
.aboutbanner h1 {
  font-family: "Lato", sans-serif;
  font-size: 60px;
  color: #fff;
  margin: 55px 10px;
  font-weight: 900;
}
.contentbanner p.content {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  margin: 0px 20px 20px 20px;
}
.abtwrap p.head {
  font-size: 22px;
  font-family: "Poppins", sans-serif;
  color: #c700ff;
  margin: 20px;
}

.contentbanner p.tagbanner {
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  margin: 20px;
}
.alogo {
  padding: 3px;
  margin: 16px;
  color: #c700ff;
  align-items: center;
}
.alogo h3 {
  font-size: 60px;
  font-family: "Dosis", sans-serif;
}
.alogo p {
  font-size: 18px;
  font-family: sans-serif;
}
@media all and (min-width: 700px) {
  .alogo {
    margin-right: 30px;
  }
  .abtwrap {
    flex-direction: row;
    padding: 20px;
  }
  .aboutbanner {
    height: 400px;
  }
  .aboutbanner h1 {
    font-size: 120px;
    margin: 100px 10px;
  }
  .abtwrap p.head {
    font-size: 30px;
  }
  .contentbanner p.content {
    font-size: 26px;
  }
  .contentbanner p.tagbanner {
    font-size: 50px;
  }
  .tgban {
    width: 90%;
  }
  .contentbanner {
    padding: 20px;
  }
  .alogo {
    padding: 3px;
    margin: 20px;
  }
  .alogo h3 {
    font-size: 80px;
  }
  .alogo p {
    font-size: 25px;
  }
}
@media all and (min-width: 1200px) {
  .contentbanner {
    padding: 20px 350px 100px 350px;
  }
  .aboutbanner {
    height: 450px;
  }
  .aboutbanner h1 {
    font-size: 180px;
  }
  .abtwrap {
    padding: 40px 180px;
    justify-content: space-evenly;
  }
  .abtwrap p.head {
    font-size: 45px;
  }
  .alogo {
    margin-right: 80px;
  }
  .alogo h3 {
    font-size: 100px;
  }
  .alogo p {
    font-size: 30px;
  }
}
