.aboutbanner {
  align-items: center;
  background-image:
    url("groupwomen.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 250px;
}
.aboutbanner h1 {
  font-family: "Lato", sans-serif;
  font-size: 60px;
  color: #fff;
  margin: 70px 10px;
  font-weight: 900;
}
.contentbanner p.content {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  margin: 0px 20px 20px 20px;
}
.contentbanner p.head {
  font-size: 22px;
  font-family: "Poppins", sans-serif;
  color: #c700ff;
  margin: 20px;
}

.contentbanner p.tagbanner {
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  margin: 20px;
}
@media all and (min-width: 700px) {
  .aboutbanner {
    height: 500px;
  }
  .aboutbanner h1 {
    font-size: 120px;
    margin: 140px 10px;
  }
  .contentbanner p.head {
    font-size: 42px;
  }
  .contentbanner p.content {
    font-size: 26px;
  }
  .contentbanner p.tagbanner {
    font-size: 50px;
  }
  .tgban {
    width: 90%;
  }
  .contentbanner {
    padding: 20px;
  }
}
@media all and (min-width: 1200px) {
  .contentbanner {
    padding: 20px 350px 100px 350px;
  }
}
