.aboutbanner {
  align-items: center;
  background: rgb(218, 15, 255);
  background: radial-gradient(
    circle,
    rgba(218, 15, 255, 1) 16%,
    rgba(179, 44, 255, 1) 72%,
    rgba(127, 82, 255, 1) 100%
  );
  background-size: 400%;
  animation-name: steam;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  width: 100%;
  height: 200px;
}
@keyframes steam {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 400%;
  }
}
.aboutbanner h1 {
  font-family: "Lato", sans-serif;
  font-size: 60px;
  color: #fff;
  margin: 55px 10px;
  font-weight: 900;
}
.contentbanner p.content {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  margin: 0px 20px 20px 20px;
}
.contentbanner p.head {
  font-size: 22px;
  font-family: "Poppins", sans-serif;
  color: #c700ff;
  margin: 20px;
}

.contentbanner p.tagbanner {
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  margin: 20px;
}
@media all and (min-width: 700px) {
  .aboutbanner {
    height: 400px;
  }
  .aboutbanner h1 {
    font-size: 120px;
    margin: 100px 10px;
  }
  .contentbanner p.head {
    font-size: 42px;
  }
  .contentbanner p.content {
    font-size: 26px;
  }
  .contentbanner p.tagbanner {
    font-size: 50px;
  }
  .tgban {
    width: 90%;
  }
  .contentbanner {
    padding: 20px;
  }
}
@media all and (min-width: 1200px) {
  .contentbanner {
    padding: 20px 350px 100px 350px;
  }
  .aboutbanner{
    height:450px;
  }
  .aboutbanner h1{
    font-size: 180px;
  }
}
