
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body{
    background-color: #fff;
}
.hflex {
    display: flex;
    flex-direction: row;
}
.vflex {
    display: flex;
    flex-direction: column;
}